
strong{
    color: #f4e062;
}
section{
    min-height: 100vh;
    background-image: url('./img/z13.jpg');
    background-size: cover;
}
.section-2{
    min-height: 100vh;
    background-image: url('./img/z12.jpg');
    background-size: cover;
}

p{
    mix-blend-mode: difference;
}
.navbar-nav{
    mix-blend-mode: difference;
}
img{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}